.l-main-content {
  padding: 70px 0;
  box-sizing: border-box;
  background: url('../images/bg--tablet.webp');
  background-position: center top;
  background-size: cover;

  @media screen and (min-width: 1220px) {
    background: url('../images/bg--desktop.webp');
    min-height: 1200px;
    background-position: center top;
  }
}

.no-webp {
  .l-main-content {
    background: url('../images/bg--tablet.jpg');

    @media screen and (min-width: 1220px) {
      background: url('../images/bg--desktop.jpg');
    }
  }
}

.l-content-container {
  background: #fff;
  max-width: 559px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 43px 25px 32px;

  @media screen and (min-width: 760px) {
    padding: 43px 76px 32px 77px;
  }
}